# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.vscode/
.idea/
# python
__pycache__/
# data bin
**/data/*.bin

# user define
build/


# prof 文件
examples/**/prof/

# params 文件
examples/**/params/

# bin文件
examples/**/data/input
examples/**/data/output

# csv 文件
*.csv
examples/*/*.csv

# sim文件
examples/**/sim_result/

